.nav {
    background-color: #414249;
    position: fixed;
    width: 100%;
    display: grid;
    height: 7.5vh;
    bottom: 0%;
}

.cart-icon {
    padding: 5%;
    color: white;
    vertical-align: middle;
}
.inner-nav > a {
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    font-size: 18px;
    background: #ff4081;
    background-color: #3f51b5;
    margin: 5% auto;
    color: white;
    align-self: center;
}
.inner-nav > .price {
    width: 85%;
    padding: 2.5%;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    font-size: 11px;
    background: transparent;
    color: white;
    border: 1px solid #f0f0f0;
    margin: 5% auto;
    border-radius: 5px;

}

.inner-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

a {
    text-decoration: none;
    color: whitesmoke;    
}