
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">RHPS To2u</h1>
      
      <mat-slide-toggle
      class="example-margin"
      color="warn">
      On/Off</mat-slide-toggle>
  
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <a mat-list-item routerLink="/orders">Orders</a>
          <a mat-list-item routerLink="shift-reports">Shift Reports</a>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
  
  
        <mat-tab-group>
          <mat-tab label="All items">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
          <button style="float: right; margin-right: 10%; margin-top: 1%;" mat-button-raised mat-raised-button color="accent" (click)='addItem()'>Add Items</button>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
          
              <!-- ID Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <!-- <mat-cell mat-cell *matCellDef="let row"> {{row.name}} </mat-cell> -->
                  <mat-cell *matCellDef="let row">
                    <ng-container *ngIf="!row.editable; else editPlace">
                      {{row.name}}
                      </ng-container>
                      <ng-template #editPlace>
                        <input [(ngModel)]="row.name" (keyup.enter)="element.editable = false" >
                      </ng-template>
                  </mat-cell>
                </ng-container>

                

                <ng-container matColumnDef="category">
                  <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <ng-container *ngIf="!row.editable; else editPlace">
                        {{row.category}}
                        </ng-container>
                        <ng-template #editPlace>
                          <input [(ngModel)]="row.category" (keyup.enter)="element.editable = false" >
                        </ng-template>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="subcategory">

                  <mat-header-cell *matHeaderCellDef> SubCategory </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <ng-container *ngIf="!row.editable; else editPlace">
                      {{row.subcategory}} 
                      </ng-container>
                      <ng-template #editPlace>
                        <input [(ngModel)]="row.subcategory" (keyup.enter)="element.editable = false" >
                      </ng-template>
                  </mat-cell>

                </ng-container>
                

                <ng-container matColumnDef="price">
                  <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <ng-container *ngIf="!row.editable; else editPlace">
                      {{row.price}}
                      </ng-container>
                      <ng-template #editPlace>
                        <input [(ngModel)]="row.price" (keyup.enter)="element.editable = false" >
                      </ng-template>
                  </mat-cell>
                  </ng-container>

                <ng-container matColumnDef="percent">
                  <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <ng-container *ngIf="!row.editable; else editPlace">
                      {{row.percent}}
                      </ng-container>
                      <ng-template #editPlace>
                        <input [(ngModel)]="row.percent" (keyup.enter)="element.editable = false" >
                      </ng-template>
                  </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="image">
                  <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <ng-container *ngIf="row.editable; else editPlace">
                      {{row.image}}
                      </ng-container>
                      <ng-template #editPlace>
                        <input [(ngModel)]="row.image" (keyup.enter)="element.editable = false" >
                      </ng-template>
                  </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="available">
                  <mat-header-cell *matHeaderCellDef> Available </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <ng-container *ngIf="!row.editable; else editPlace">
                      <mat-checkbox class="example-margin" disabled [ngModel]="row.availablePlaceholder"></mat-checkbox>
                      </ng-container>
                      <ng-template #editPlace>
                        <mat-checkbox class="example-margin" [ngModel]="row.available" (keyup.enter)="element.editable = false"></mat-checkbox>
                      </ng-template>
                  </mat-cell>
                </ng-container>


                <ng-container matColumnDef="edit">
                  <mat-header-cell *matHeaderCellDef> Edit/Delete </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <button (click)="edit(element)">{{element.editSave}} </button></mat-cell>
                </ng-container>


        
          
          
<!--           
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           -->
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <mat-cell class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</mat-cell>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
          </mat-tab>
          <mat-tab label="Beverage Items">


          </mat-tab>
          <mat-tab label="Food Items">

          </mat-tab>

          </mat-tab-group>  

          
          
    </mat-sidenav-content>
  </mat-sidenav-container>
  </div>
  
   



