.nav {
    background-color: #37344E;
    position: fixed;
    width: 100%;
    display: grid;
    height: auto;
    bottom: 0%;
}
.inner-nav {   

}

.cart-icon {
    padding: 5%;
    color: white;
    vertical-align: middle;
}
.inner-nav > a {
    float: right;
    background-color: #C8E787;
    padding: 2.5%;
    width: 40%;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: black;    
}