.auth-block {
    width: 50%;
    margin: 10% auto;
    padding: 10%;
    text-align: center;
    border: 1px solid #f0f0f0;
    box-shadow: 0  10px  20px  rgba(0,0,0,0.19), 0  6px  6px  rgba(0,0,0,0.23);
}
.form-group {
    margin: 1%;
}